@model IEnumerable<lab1.net.Models.ShoppingList>

@{
    ViewData["Title"] = "listy zakupów";
}


<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <a asp-controller="ShoppingLists" asp-action="Create" class="btn btn-primary">Dodaj nową listę</a>
        </div>
    </div>

    <div class="row">
        @foreach (var list in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card card-custom shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">
                            @if (list.ShoppingItems.All(i => i.IsChecked))
                            {
                                <span class="text-decoration-line-through">@list.Title</span>
                                <p>Zaplanowano na dzień @list.Planned.ToString("dd/MM/yyyy")</p>
                            }
                            else
                            {
                                @list.Title
                                <p>Zaplanowano na dzień @list.Planned.ToString("dd/MM/yyyy")</p>
                            }
                        </h5>

                        <ul class="list-group list-group-flush">
                            @foreach (var item in list.ShoppingItems)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    @if (item.IsChecked)
                                    {
                                        <span class="text-decoration-line-through">@item.Description</span>
                                    }
                                    else
                                    {
                                        @item.Description
                                    }
                                    <div class="btn-group">
                                        <form asp-controller="ShoppingLists" asp-action="CheckItem" asp-route-id="@item.Id" method="post" style="display:inline">
                                            <button type="submit" class="btn btn-custom btn-sm">
                                                @if (item.IsChecked)
                                                {
                                                    <i class="bi bi-toggle-on"></i>
                                                }
                                                else
                                                {
                                                    <i class="bi bi-toggle-off"></i>
                                                }
                                            </button>
                                        </form>
                                        <form asp-controller="ShoppingLists" asp-action="DeleteItem" asp-route-id="@item.Id" method="post" style="display:inline">
                                            <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i></button>
                                        </form>
                                    </div>
                                </li>
                            }
                        </ul>
                        <form asp-action="AddItem" method="post" class="mt-3">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="shoppingListId" value="@list.Id" />
                            <div class="input-group">
                                <select class="form-control" name="selectedItemId">
                                    <option value="">Wybierz przedmiot</option>
                                    @foreach (var item in ViewBag.AllItems)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                                <button type="submit" class="btn btn-custom"><i class="bi bi-plus-lg"></i></button>
                            </div>
                        </form>
                        <div class="text-end mt-3">
                            <a asp-controller="ShoppingLists" asp-action="Edit" asp-route-id="@list.Id" class="btn btn-warning btn-sm mx-1"><i class="bi bi-pencil-square"></i></a>
                            <form asp-controller="ShoppingLists" asp-action="Delete" asp-route-id="@list.Id" method="post" style="display:inline">
                                <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-x-lg"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>  
